{% extends 'base.html' %}
{% load static %}
{% block content %}

<section id="main" class="container-fluid hero-bg text-center d-flex align-items-center">
    <div class="row">
        <div class="container col-lg-5 col-md-8 col-s-12">
            <h1 class="text-light text-uppercase display-1">Headline</h3>
            <p class="text-light lead text-start">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam dolorum iusto fugiat quibusdam officia est facilis cumque hic unde odio veritatis necessitatibus optio aspernatur nesciunt minima incidunt, labore sapiente rerum maxime pariatur tempore. Accusantium iusto deleniti ullam dolorem placeat tempore minima corrupti quia debitis, soluta itaque totam sit quis, ratione et nemo unde architecto officiis quae, error rem? Possimus, harum.</p>     
            </div>
        </div>
    </div>
</section>

<section id="locations" class="container">
    <div class="row">
        <div class="col-md-6 align-items-center d-flex flex-column justify-content-center text-left mt-5">
            <h2 class="display-3">Lorem ipsum</h2>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam laudantium libero, dignissimos ipsum magnam iure ad minus tenetur fugit sapiente velit quam iste commodi nesciunt ut nulla. Facilis, sit pariatur assumenda repellat necessitatibus, officia impedit id eius similique praesentium maxime.</p>
        </div>
        <div class="col-md-6 mt-5">
            <img class="img-fluid" src="{% static 'img/world-map-vector.png' %}" alt="">
        </div>
    </div>
</section>

<section id="about">
    <div class="row">
    <h2 class="display-3 text-center">About Us</h2>
    <div class="col-4"></div>
    <div class="col-4"></div>
    <div class="col-4"></div>
    </div>
</section>

{% endblock  %}