{% extends 'base.html' %}
{% load static %}

{% block extracss %}

    

{% endblock  %}

{% block content %}

<section id="main" class="container-fluid hero-bg">
        <div class="row h-100 justify-content-center align-items-center">
        <div class="col-12 d-flex flex-column justify-content-center">
            <h2 class="display-3 text-light text-center text-uppercase hero-text">Give a gift to those in need</h2>
            <div class="mx-auto">
                <a href="{% url 'shop' %}" class="btn btn-warning btn-gift">
                    <span class="text-uppercase">Give A Gift</span>
                    <span class="icon">
                        <i class="bi bi-chevron-right"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>

<section id="locations" class="container">
    <div class="row my-5 h-100 justify-content-center align-items-center">
        <div class="col-sm-12 col-lg-6 col">
            <h3 class="display-4 text-uppercase heading">Locations</h3>
            <p class="lead section-text">We are active all over the world and our volunteers work tirelessly to provide for those most in need.</p>
        </div>
        <div class="col-sm-12 col-lg-6">
            <img id="world-map" src="{% static '/img/world-map-vector.png' %}" alt="">
        </div>
    </div>
</section>

<section id="about" class="container-fluid py-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="display-4 text-center text-uppercase heading">About us</h3>
                <p class="lead section-text">For 10 years, <span class="fw-bold">HUMANITARY</span> has led the way to a better life for the world’s most vulnerable people. In 2021, <span class="fw-bold">HUMANITARY</span> worked in over 72 countries, reaching more than 90 million people through more than 1,200 projects.</p>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-6 text-center">
                <h4 class="display-5 text-center text-uppercase heading">Secure</h4>
                <p class="lead section-text">All payments go directly to people in need</p>
            </div>
            <div class="col-6">
                <img class="img-fluid" src="{% static 'img/money.svg' %}" alt="">
            </div>
        </div>
        <hr class="my-5">
        <div class="row justify-content-center align-items-center">
            <div class="col-6">
                <img class="img-fluid" src="{% static 'img/better-world.svg' %}" alt="">
            </div>
            <div class="col-6 text-center">
                <h4 class="display-5 text-center text-uppercase heading">A safer place to live</h4>
                <p class="lead section-text">By giving through our organisation, you help making the world a better place for our children</p>
            </div>
        </div>
        <hr class="my-5">
        <div class="row justify-content-center align-items-center">
            <div class="col-6 text-center">
                <h4 class="display-5 text-center text-uppercase heading">A better world</h4>
                <p class="lead section-text">We keep nothing for ourselves. All gifts go to one of our locations around the world.</p>
            </div>
            <div class="col-6">
                <img class="img-fluid" src="{% static 'img/children.svg' %}" alt="">
            </div>
        
    </div>
</section>

<section id="news-letter">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h3 class="display-6 text-light text-center my-5 text-uppercase">Subscribe to our newsletter</h3>
            </div>
        </div>
        <div class="row">
            <form class="mb-5 d-flex justify-content-center" method="GET" action="{% url 'subscribe' %}"">
                    <input type="email" class="form-control w-25 rounded-0" id="exampleInputEmail1" placeholder="Email" required>
                    <button type="submit" class="btn btn-warning rounded-0 text-uppercase">Subscribe</button>
                </form>
        </div>
    </div>
</section>

{% endblock  %}