{% extends 'base.html' %}
{% load static %}

{% block extracss %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/checkout.css' %}">
{% endblock  %}

{% block content %}
<div class="container">     
    <hr>
    <div class="row align-items-center">
        <div class="col-sm-12 col-lg-3 my-2">
            <h2 class="logo-font">Checkout</h2>
            <a href="{% url 'shop' %}" class="btn btn-warning">
                <span class="icon">
                    <i class="bi bi-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-4 shadow mx-auto checkout-box rounded text-center">
            <h3 class="text-uppercase mt-1">Summary</h3>
            <div>
                <p class="lead">Total</p>
                <p class="lead">${{ order.get_cart_total|floatformat:2 }}</p>           
            </div>
            <div class="w-100 d-flex align-items-center justify-content-center pb-2">
                <button id="payment-button" class="btn btn-warning">To Payment</button>
            </div>
        </div>
    </div>
</div>




<script>

var stripe = Stripe("{{ stripe_public_key }}");
var paymentBtn = document.getElementById("payment-button");

paymentBtn.addEventListener("click", (event) => {
  stripe
    .redirectToCheckout({ sessionId: "{{ session_id }}" })
    .then(function (result) {})
    .then(() => {
        cart = {};

        document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
        window.location.href = "{% url 'home' %}"
    })

});


</script>



{% endblock  %}