li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

label {
  display: none;
}

.bi-google {
  color: white;
  margin-right: 1em;
  transition: color 0.5s ease;
}

.btn-google {
  color: white;
  background-color: tomato;
}

.btn-google:hover {
  color: white;
}
