@import url("https://fonts.googleapis.com/css2?family=Khand:wght@700&family=Open+Sans&display=swap");

/* Global settings */
body {
  height: calc(100vh - 80px);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Khand", sans-serif;
  font-weight: 700;
}

p {
  font-family: "Open Sans";
}

/* Top page */
.hero-bg {
  height: 60vh;
  background: url("../img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* Middle page */
#about {
  background-color: rgb(237, 237, 237);
}

#world-map {
  width: 100%;
}

/* About section */
#about {
  background-color: rgb(237, 237, 237);
}

/* News letter */
#news-letter {
  background-color: rgb(0, 110, 199);
}

/* Footer */
footer {
  background-color: rgb(25, 40, 49);
}

.social-link {
  color: rgb(255, 255, 255);
  transition: 0.5s ease;
}

.social-link:hover {
  color: rgb(165, 165, 165);
}

/* Medium devices */
@media only screen and (max-width: 768px) {
  .hero-bg {
    height: 20vh;
  }
}

/* Large Devices */
@media only screen and (max-width: 992px) {
  #exampleInputEmail1 {
    width: 50% !important;
  }
}
