{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center mt-5">
                    <h2 class="display-4">My Profile</h2>
                </div>
            </div>
        </div>
            <div class="row">
                <div class="col-sm-12 col-md-10 mx-auto align-items-center shadow-sm p-3 mb-5 bg-body rounded">
                    <div class="d-flex justify-content-around">
                        <div class="text-uppercase fw-bold">
                        <p>Username</p>
                        <p>Email</p>
                    </div>
                    <div>
                        <p>{{customer_name}}</p>
                        <p>{{customer_email}}</p>
                    </div>
                    </div>
                </div>
            </div>
            {% if completed_orders %}  
            <div class="row">
                <div class="col-sm-12 col-md-10 mx-auto">
                <hr>
                    <p class="text-muted text-center">Order History</p>
                       
                    <div class="order-history text-center">
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in all_order_items %}
                                    {% if item.order in completed_orders_list %}
                                    <tr>
                                        <td>
                                            {{item.product}}
                                        </td>
                                        <td>
                                            ${{item.product.price}}
                                        </td>
                                        <td>
                                            {{item.quantity}}
                                        </td>
                                        <td>
                                            ${{item.get_total}}
                                        </td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endif %}
    </div>
{% endblock  %}