      <div class="container-fluid mt-auto">
      <footer class="row align-items-center p-3 text-center">
        <div class="col-12 text-center">
          <h3 class="text-light text-uppercase">Follow us on social media</h3>
        </div>
          <div id="social-media" class="col-12 d-flex align-items-center justify-content-center fs-4">
            <a href="https://www.facebook.com/Humanitary-102774085434075" target="_blank"><i class="bi bi-facebook mx-3 social-link"></i></a>
            <a href="http://instagram.com" target="_blank"><i class="bi bi-instagram mx-3 social-link"></i></a>
            <a href="http://twitter.com" target="_blank"><i class="bi bi-twitter mx-3 social-link"></i></a>
          </div>
      </footer>
      </div>
