{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="container-fluid">
    <div class="row">
        <h2 class="text-center text-uppercase display-2 bg-white py-5">Gift Shop</h2>
    </div>
</div>
<section id="products" class="d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row">
            {% for product in products %}
                <div class="col-sm-12 col-md-6 col-lg-4 d-flex align-items-center justify-content-center my-3">
                    <div class="card h-100 text-center">
                        <img src="{{ product.image.url }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-uppercase fs-3">{{ product.name }}</h5>
                            <p class="card-text">{{ product.description }}</p>
                            <div class="flex-field">
                                {% csrf_token %}
                                <h3 class="text-uppercase fs-4">{{ product.price }}</h3>
                                <button data-product={{ product.id }} data-action="add" class="update-cart btn btn-warning text-uppercase px-3 rounded-pill">
                                <span><i class="bi bi-cart3 fs-5"></i></span>
                                <span class="text-uppercase ms-3 fs-6">Add to cart</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
    </div>
</div>
</section>

{% endblock content %}